openapi: 3.1.0

info:
  title: GreenWave Business API
  version: 1.0.0
  description: |
    The contract the GreenWave staff app (iOS / Android / web) expects.

    This is deliberately NOT the infrastructure Management Portal API at
    `mgmt-api.gwgcservers.ca` (`/overview`, `/incidents`, `/backups`,
    `/docker/containers`, `/n8n/control`) — that one manages servers. This
    one manages pickups, dropoffs, materials, weights, photos and staff
    hours, and should live behind its own base URL, e.g.
    `https://api.gwgc.cloud/api/v1`.

    Implement these paths in Fastify and the app works unchanged. If you
    prefer different route names, change `src/api/endpoints.ts` in the app
    instead — every URL the app uses is declared in that one file.

servers:
  - url: https://api.gwgc.cloud/api/v1
    description: Production
  - url: https://staging.gwgcservers.ca/api/v1
    description: Staging

security:
  - bearerAuth: []

tags:
  - name: Auth
  - name: Jobs
  - name: Materials
  - name: Staff
  - name: Timesheets

paths:
  # ---------------------------------------------------------------- auth ----
  /auth/login:
    post:
      tags: [Auth]
      summary: Sign in with a registered staff email and password
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, minLength: 8 }
      responses:
        '200':
          description: Signed in
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LoginResponse' }
        '401':
          description: Email not registered, wrong password, or account inactive
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Exchange a refresh token for a new access token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken: { type: string }
      responses:
        '200':
          description: New tokens
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthTokens' }
        '401': { description: Refresh token invalid or revoked }

  /auth/me:
    get:
      tags: [Auth]
      summary: The signed-in user
      responses:
        '200':
          description: Current user
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }

  /auth/logout:
    post:
      tags: [Auth]
      summary: Revoke the caller's refresh token
      responses:
        '204': { description: Signed out }

  /auth/change-password:
    post:
      tags: [Auth]
      summary: Change your own password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [currentPassword, newPassword]
              properties:
                currentPassword: { type: string }
                newPassword: { type: string, minLength: 8 }
      responses:
        '204': { description: Changed }
        '400': { description: Current password wrong or new password too weak }

  # ---------------------------------------------------------------- jobs ----
  /jobs:
    get:
      tags: [Jobs]
      summary: List jobs
      description: |
        Drivers must only receive jobs assigned to them — enforce this
        server-side from the bearer token, not from the `assignedToId`
        query parameter.
      parameters:
        - { name: type, in: query, schema: { $ref: '#/components/schemas/JobType' } }
        - { name: status, in: query, schema: { $ref: '#/components/schemas/JobStatus' } }
        - { name: assignedToId, in: query, schema: { type: string } }
        - name: from
          in: query
          description: Inclusive lower bound on scheduledFor (ISO-8601 instant)
          schema: { type: string, format: date-time }
        - name: to
          in: query
          description: Inclusive upper bound on scheduledFor (ISO-8601 instant)
          schema: { type: string, format: date-time }
        - { name: search, in: query, schema: { type: string } }
        - { name: page, in: query, schema: { type: integer, minimum: 1, default: 1 } }
        - { name: pageSize, in: query, schema: { type: integer, minimum: 1, maximum: 200, default: 25 } }
      responses:
        '200':
          description: A page of jobs
          content:
            application/json:
              schema:
                type: object
                required: [items, page, pageSize, total]
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/Job' }
                  page: { type: integer }
                  pageSize: { type: integer }
                  total: { type: integer }
    post:
      tags: [Jobs]
      summary: Create a pickup or dropoff
      description: Managers and admins only.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateJob' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
        '403': { description: Drivers cannot create jobs }

  /jobs/{jobId}:
    parameters:
      - { name: jobId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Jobs]
      summary: One job, with its material lines and photos
      responses:
        '200':
          description: The job
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
        '404': { description: Not found }
    patch:
      tags: [Jobs]
      summary: Update job details or reassign it
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateJob' }
      responses:
        '200':
          description: The updated job
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }

  /jobs/{jobId}/status:
    parameters:
      - { name: jobId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Jobs]
      summary: Move a job through its lifecycle
      description: |
        Set `completedAt` when status becomes `completed`, and clear it
        otherwise. Drivers may only change status on jobs assigned to them.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status: { $ref: '#/components/schemas/JobStatus' }
      responses:
        '200':
          description: The updated job
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }

  /jobs/{jobId}/lines:
    parameters:
      - { name: jobId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Jobs]
      summary: Record a material and its weight against the job
      description: Recompute and return `totalWeightKg` on the parent job.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [materialId, weightKg]
              properties:
                materialId: { type: string }
                weightKg: { type: number, exclusiveMinimum: 0 }
                notes: { type: string, nullable: true }
      responses:
        '201':
          description: The created line
          content:
            application/json:
              schema: { $ref: '#/components/schemas/JobLine' }

  /jobs/{jobId}/lines/{lineId}:
    parameters:
      - { name: jobId, in: path, required: true, schema: { type: string } }
      - { name: lineId, in: path, required: true, schema: { type: string } }
    delete:
      tags: [Jobs]
      summary: Remove a material line
      responses:
        '204': { description: Removed }

  /jobs/{jobId}/photos:
    parameters:
      - { name: jobId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Jobs]
      summary: Upload a job photo
      description: |
        Multipart. Store the object in MinIO (bucket `greenwave-job-photos`)
        and return a **signed, time-limited** URL — never expose the MinIO
        endpoint publicly. Reject anything over ~15 MB and anything that is
        not an image. Enforce the per-job photo cap server-side too; the app
        limits it to 10 by default via `EXPO_PUBLIC_MAX_PHOTOS_PER_JOB`.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
                caption: { type: string }
      responses:
        '201':
          description: The stored photo
          content:
            application/json:
              schema: { $ref: '#/components/schemas/JobPhoto' }
        '413': { description: File too large }

  /jobs/{jobId}/photos/{photoId}:
    parameters:
      - { name: jobId, in: path, required: true, schema: { type: string } }
      - { name: photoId, in: path, required: true, schema: { type: string } }
    delete:
      tags: [Jobs]
      summary: Delete a job photo (and its MinIO object)
      responses:
        '204': { description: Deleted }

  # ----------------------------------------------------------- reference ----
  /materials:
    get:
      tags: [Materials]
      summary: The material catalogue used by weight entry
      responses:
        '200':
          description: Active materials
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Material' }

  /customers:
    get:
      tags: [Materials]
      summary: Customers / sites jobs can be booked against
      parameters:
        - { name: search, in: query, schema: { type: string } }
      responses:
        '200':
          description: Customers
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Customer' }
    post:
      tags: [Materials]
      summary: Add a customer
      description: Managers and admins only.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CustomerInput' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Customer' }
        '409': { description: A customer with that name already exists }

  /customers/{customerId}:
    parameters:
      - { name: customerId, in: path, required: true, schema: { type: string } }
    patch:
      tags: [Materials]
      summary: Update a customer
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CustomerInput' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Customer' }

  /devices/push-token:
    post:
      tags: [Auth]
      summary: Register this device for push notifications
      description: |
        Optional. Store one row per (user, token) so "you've been assigned a
        job" can reach the right phone. Tokens expire — drop any that the push
        service reports as invalid.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, platform]
              properties:
                token:
                  type: string
                  description: Expo push token, e.g. ExponentPushToken[xxx].
                platform: { type: string, enum: [ios, android, web] }
                deviceName: { type: string, nullable: true }
      responses:
        '204': { description: Registered }
    delete:
      tags: [Auth]
      summary: Forget a device (called on sign-out)
      parameters:
        - { name: token, in: query, required: true, schema: { type: string } }
      responses:
        '204': { description: Removed }

  # --------------------------------------------------------------- staff ----
  /staff:
    get:
      tags: [Staff]
      summary: Staff accounts
      description: Managers and admins only. Never return password hashes.
      responses:
        '200':
          description: Staff
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/User' }
    post:
      tags: [Staff]
      summary: Create a staff account
      description: Admins only. Hash the password with argon2id or bcrypt (cost >= 12).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, fullName, role, password]
              properties:
                email: { type: string, format: email }
                fullName: { type: string }
                role: { $ref: '#/components/schemas/Role' }
                phone: { type: string, nullable: true }
                password: { type: string, minLength: 8 }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '409': { description: That email already exists }

  /staff/{userId}:
    parameters:
      - { name: userId, in: path, required: true, schema: { type: string } }
    patch:
      tags: [Staff]
      summary: Update a staff account (role, active flag, contact details)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fullName: { type: string }
                role: { $ref: '#/components/schemas/Role' }
                phone: { type: string, nullable: true }
                active: { type: boolean }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }

  /staff/{userId}/password:
    parameters:
      - { name: userId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Staff]
      summary: Admin reset of a staff password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password: { type: string, minLength: 8 }
      responses:
        '204': { description: Reset }

  # ---------------------------------------------------------- timesheets ----
  /timesheets/active:
    get:
      tags: [Timesheets]
      summary: The caller's currently-open shift
      responses:
        '200':
          description: Open shift, or null when clocked out
          content:
            application/json:
              schema:
                oneOf:
                  - { $ref: '#/components/schemas/Timesheet' }
                  - { type: 'null' }
        '404': { description: Also accepted as "not clocked in" }

  /timesheets/clock-in:
    post:
      tags: [Timesheets]
      summary: Start a shift
      responses:
        '201':
          description: The open shift
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Timesheet' }
        '409': { description: Already clocked in }

  /timesheets/clock-out:
    post:
      tags: [Timesheets]
      summary: End the open shift
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                note: { type: string, nullable: true }
      responses:
        '200':
          description: The closed shift with durationMinutes filled in
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Timesheet' }
        '409': { description: Not clocked in }

  /timesheets:
    get:
      tags: [Timesheets]
      summary: Shift history
      description: |
        Drivers may only read their own shifts — ignore `userId` for them and
        scope to the token's subject.
      parameters:
        - { name: userId, in: query, schema: { type: string } }
        - { name: from, in: query, schema: { type: string, format: date-time } }
        - { name: to, in: query, schema: { type: string, format: date-time } }
      responses:
        '200':
          description: Shifts, newest first
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Timesheet' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
          description: |
            Shown to the user verbatim by the app, so write it in plain
            language: "That email is not registered for GreenWave."
        code: { type: string }

    Role:
      type: string
      enum: [admin, manager, driver]

    JobType:
      type: string
      enum: [pickup, dropoff]

    JobStatus:
      type: string
      enum: [scheduled, assigned, in_progress, completed, cancelled]

    User:
      type: object
      required: [id, email, fullName, role, active, createdAt]
      properties:
        id: { type: string }
        email: { type: string, format: email }
        fullName: { type: string }
        role: { $ref: '#/components/schemas/Role' }
        phone: { type: string, nullable: true }
        active: { type: boolean }
        createdAt: { type: string, format: date-time }

    AuthTokens:
      type: object
      required: [accessToken, refreshToken, expiresIn]
      properties:
        accessToken: { type: string }
        refreshToken: { type: string }
        expiresIn: { type: integer, description: Seconds until accessToken expires }

    LoginResponse:
      allOf:
        - $ref: '#/components/schemas/AuthTokens'
        - type: object
          required: [user]
          properties:
            user: { $ref: '#/components/schemas/User' }

    Customer:
      type: object
      required: [id, name]
      properties:
        id: { type: string }
        name: { type: string }
        address: { type: string, nullable: true }
        contactName: { type: string, nullable: true }
        contactPhone: { type: string, nullable: true }
        notes: { type: string, nullable: true }
        active: { type: boolean }

    CustomerInput:
      type: object
      required: [name]
      properties:
        name: { type: string }
        address: { type: string, nullable: true }
        contactName: { type: string, nullable: true }
        contactPhone: { type: string, nullable: true }
        notes: { type: string, nullable: true }

    Material:
      type: object
      required: [id, name, active]
      properties:
        id: { type: string }
        name: { type: string }
        category: { type: string, nullable: true }
        ratePerKg: { type: number, nullable: true }
        active: { type: boolean }

    JobLine:
      type: object
      required: [id, jobId, materialId, materialName, weightKg, recordedAt]
      properties:
        id: { type: string }
        jobId: { type: string }
        materialId: { type: string }
        materialName:
          type: string
          description: Denormalised so the app never needs a second lookup.
        weightKg: { type: number }
        notes: { type: string, nullable: true }
        recordedById: { type: string, nullable: true }
        recordedAt: { type: string, format: date-time }

    JobPhoto:
      type: object
      required: [id, jobId, url, uploadedAt]
      properties:
        id: { type: string }
        jobId: { type: string }
        url:
          type: string
          format: uri
          description: Signed, time-limited MinIO URL.
        thumbnailUrl: { type: string, format: uri, nullable: true }
        caption: { type: string, nullable: true }
        uploadedById: { type: string, nullable: true }
        uploadedAt: { type: string, format: date-time }

    Job:
      type: object
      required:
        [id, reference, type, status, scheduledFor, lines, photos, totalWeightKg, createdAt, updatedAt]
      properties:
        id: { type: string }
        reference:
          type: string
          description: Short human reference shown everywhere, e.g. "GW-1042".
        type: { $ref: '#/components/schemas/JobType' }
        status: { $ref: '#/components/schemas/JobStatus' }
        customerId: { type: string, nullable: true }
        customerName: { type: string, nullable: true }
        address: { type: string, nullable: true }
        scheduledFor: { type: string, format: date-time }
        assignedToId: { type: string, nullable: true }
        assignedToName: { type: string, nullable: true }
        notes: { type: string, nullable: true }
        lines:
          type: array
          items: { $ref: '#/components/schemas/JobLine' }
        photos:
          type: array
          items: { $ref: '#/components/schemas/JobPhoto' }
        totalWeightKg:
          type: number
          description: Server-computed sum of line weights.
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        completedAt: { type: string, format: date-time, nullable: true }

    CreateJob:
      type: object
      required: [type, scheduledFor]
      properties:
        type: { $ref: '#/components/schemas/JobType' }
        customerId: { type: string, nullable: true }
        customerName: { type: string, nullable: true }
        address: { type: string, nullable: true }
        scheduledFor: { type: string, format: date-time }
        assignedToId: { type: string, nullable: true }
        notes: { type: string, nullable: true }

    UpdateJob:
      allOf:
        - $ref: '#/components/schemas/CreateJob'
        - type: object
          properties:
            status: { $ref: '#/components/schemas/JobStatus' }

    Timesheet:
      type: object
      required: [id, userId, userName, clockInAt]
      properties:
        id: { type: string }
        userId: { type: string }
        userName: { type: string }
        clockInAt: { type: string, format: date-time }
        clockOutAt: { type: string, format: date-time, nullable: true }
        durationMinutes:
          type: integer
          nullable: true
          description: Server-computed. Null while the shift is open.
        note: { type: string, nullable: true }
